name: Build and test

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      checks: write

    defaults:
      run:
        working-directory: ./src

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:          
          dotnet-version: |            
            8.x.x
            9.x.x
            10.x.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test with Code Coverage
        run: dotnet test --no-restore --verbosity normal --logger trx --collect:"XPlat Code Coverage"

      - name: Combine Coverage Reports
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.0
        with:
          reports: "**/*.cobertura.xml"
          targetdir: "${{ github.workspace }}/coverage-report"
          reporttypes: "Html;Cobertura"
          verbosity: "Info"
          title: "Facteur Code Coverage"
          tag: "${{ github.run_number }}_${{ github.run_id }}"

      - name: Upload Coverage HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html-report
          path: ${{ github.workspace }}/coverage-report
          retention-days: 30

      - name: Upload Combined Coverage XML
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: coverage-xml
          path: ${{ github.workspace }}/coverage-report/Cobertura.xml
          retention-days: 30

      - name: Publish Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: "**/coverage-report/Cobertura.xml"
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: false
          indicators: true
          output: both
          thresholds: "10 30"

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Upload Test Result Files
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: "**/TestResults/**/*"
          retention-days: 30

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: "${{ github.workspace }}/**/*.trx"
          check_name: "Test Results"
          comment_mode: always
          report_individual_runs: true
          deduplicate_classes_by_file_name: true
